@font-face {
  font-family: m6x11;
  src: url(../font/m6x11plus.ttf);
}

body{
  background-color: var(--main-bg);
  font-size: 36px;
  font-family: m6x11;
  color: var(--main-color);

  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  gap: 0;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 30% 70%;

  cursor:default;
  user-select: none;

}

:root {
  --main-bg: #749A66;
  --main-font: m6x11;
  --main-color: #051524;
  --border: #f9f5f0;
}

p{
  font-size: 18px;
  font-family: m6x11;
  margin: 0;
}

h1{
  margin: 0;
  font-weight: 100;
  font-family: m6x11;
  font-size: 68px;
}

h2{
  margin: 0;
  font-weight: 100;
  font-family: m6x11;
  font-size: 54px;
}

h3{
  margin: 0;
  font-weight: 100;
  font-family: m6x11;
  font-size: 36px;
}

.hud{
  display: grid;
  grid-template-rows: 15% 45% 40%;
  grid-template-columns: 100%;
}

.content{
  display: grid;
  grid-template-rows: 5% 95%;
  grid-template-columns: 100%;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #AFBCAA;
  color: #051524;
  border: outset 1em #252527;
  box-sizing: border-box;
  box-shadow: 0 0 0 0;
  border-radius: 0;
}

.viewport{
  background-color: #AFBCAA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.status-bar{
  background-color: #6A7169;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100%;
  text-align: center;
  overflow: hidden;
  padding: 0 2%;
}

.user-info{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  overflow: hidden;
  border: solid 3px var(--border);
}

.pnj{
  cursor:pointer;
  border: solid 3px var(--border);
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.pnj img{
  height: 200px;
  image-rendering: pixelated;
}

.pnj h3{
  padding-left: 3%;
}


.progress-bar{
  background-color: var(--main-bg);
  height: 24px;
  width: 80px;
  border: 4px solid var(--main-color);
}

.inner-progress-bar{
  width: 80%;
  background-color: var(--main-color);
  height: 24px;
}